<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>USER</title>
</head>
<body style="color:#333333; font-family:Monospace">
<div>{% include "_navbar.html" %}</div>

<div style="padding: 20px">
    <h3>USER:{{username}}</h3>
    <form action="#">
        <h3>NEW USER REGISTRATION</h3>
        <input placeholder=" USERNAME" type="text" name="username">
        <input placeholder=" E-MAIL" type="text" name="user-email"><br>
        <input placeholder=" PASSWORD" type="password" name="password1">
        <input placeholder=" REPEAT PASSWORD" type="password" name="password2"><br><br>
        <input type="submit" value="SUBMIT" style="padding: 10px; background-color:#CCCCCC; border: none">
    </form>
</div>

</body>
</html>

